<?xml version='1.0' encoding='utf-8'?>
<configuration>
	<appSettings>
		<add key="HttpServerConnectionPort" value="5000"/>
		<add key="HttpRooDirectory" value="/var/www/home.geodetka.eu/htdocs"/>
		<add key="ImagesRootDirectory" value="/home/samba/share/Zaloha/David/Foto/"/>
		<add key="MqttClientAddress" value="192.168.88.250:1883"/>
	</appSettings>
</configuration>